$primary-color: #1e3a8a;
$primary-color-soft: #8f9dc5;
// $primary-color-extra-soft: #d2d8e8;
$primary-color-extra-soft: #dfecff;

$navy-blue: #15467a;
$dark-blue: #0c1037;

$teal: #43c1c3;
$dark-teal: #4dd0e1;
$light-teal: #a7d6e0;
$blue-100: #dbeafe;
$light-blue: #f6faff;

$gray-600: #4b5563;

$yellow: #f59e0b;
